<ion-content>
  <body>
    <app-nav-bar></app-nav-bar>
    <ion-fab-button class="back-icon" (click)="goProfile()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-fab-button>
    <div class="container">
      <div class="container__item-down">
        <div class="item-down__inline">
          <div class="caja-chica">
            <h5 class="letra ion-text-center">New Password</h5>
          </div>
          <ion-item mode="ios">
            <ion-input type="Password" [(ngModel)]="newPassword"></ion-input>
          </ion-item>
        </div>
        <div class="item-down__inline">
          <div class="caja-chica last-item">
            <h5 class="letra ion-text-center">Repeat Password</h5>
          </div>
          <ion-item mode="ios">
            <ion-input type="Password" [(ngModel)]="newPasswordRepeat"></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="ion-text-center">
        <button class="caja-media ion-text-center" (click)="prueba()">
          <h5 class="letra">Set Password</h5>
        </button>
      </div>
    </div>
  </body>
</ion-content>
