<ion-content>
  <body>
    <app-nav-bar></app-nav-bar>
    <div class="container">
      <div class="container__item-down">
        <div class="item-down__inline">
          <div class="caja-chica">
            <h5 class="letra ion-text-center">Old Password</h5>
          </div>
          <ion-item mode="ios">
            <ion-input type="Password"></ion-input>
          </ion-item>
        </div>
        <div class="item-down__inline">
          <div class="caja-chica">
            <h5 class="letra ion-text-center">New Password</h5>
          </div>
          <ion-item mode="ios">
            <ion-input type="Password"></ion-input>
          </ion-item>
        </div>
        <div class="item-down__inline">
          <div class="caja-chica last-item">
            <h5 class="letra ion-text-center">Repeat Password</h5>
          </div>
          <ion-item mode="ios">
            <ion-input type="Password"></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="ion-text-center">
        <button class="caja-media ion-text-center">
          <h5 class="letra">Set Password</h5>
        </button>
      </div>
      <div class="ion-text-center">
        <br>
        <div style="display: inline-flex;">
          <ion-icon name="caret-back-outline" class="letra-sub"></ion-icon>
          <span class="letra-sub"><i>Go back</i></span>
        </div>
      </div>
    </div>
    <app-footer-bar></app-footer-bar>
  </body>
</ion-content>
