<ion-content>
  <body>
    <app-nav-bar></app-nav-bar>
    <div class="container">
      <ng-container>
      <div class="container__item-up">
        <div class="ion-text-center ion-padding-end">
          <h1>0</h1>
          <p class="disabled">Shopping centers visited</p>
        </div>
        <div class="ion-text-center ion-padding-start">
          <h1>0</h1>
          <p class="disabled">Reviews</p>
        </div>
      </div>
      <div class="container__item-down" *ngFor="let u of user">
        <div class="item-down__inline">
          <div class="caja-chica">
            <h5 class="letra ion-text-center">Name</h5>
          </div>
          <span><b>{{u.firstName}} {{u.lastName}}</b></span>
        </div>
        <div class="item-down__inline">
          <div class="caja-chica">
            <h5 class="letra ion-text-center">Email</h5>
          </div>
          <span><b>{{u.email}}</b></span>
        </div>
        <div class="item-down__inline">
          <div class="caja-chica">
            <h5 class="letra ion-text-center">Password</h5>
          </div>
          <span>***************<br><div id="pass">Change your password</div></span>
        </div>
      </div>
      </ng-container>
    </div>
    <app-footer-bar></app-footer-bar>
  </body>
</ion-content>
