body{
    background: #ECE9E6;
    color: black;
    height: 100%;
}
.container{
    width: 80%;
    min-height: 50%;
    margin: auto;
    position: relative;
    top: -30px;
}
.container__item-up{
    display: flex;
    justify-content: space-around;
}
.container__item-up p{
    font-size: 14px;
    color: #969696bd
}
.caja-chica{
    padding: .5rem;
    min-width: 100px;
    max-width: 100px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.letra{
    margin: 0;
    color: #FF440A;
}
.container__item-down{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 280px;
}
.item-down__inline{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.item-down__inline span{
    padding-left: 15px;
    font-size: 14px;
    font-weight: 600;
}
.letra-email{
    word-break: break-all;
}
.item-down__inline > span > #pass{
    font-size: 10px;
    color: #969696bd;
    cursor: pointer;
}

@keyframes float {
    0%{
        top: 0px;
    } 50%{
        top: 5px;
    }
    100%{
        top: 0px;
    }
}

.edit-icon{
    position: fixed;
    top: 0;
    right: 0;
    margin: 23px;
    color: white;
    height: 50px;
    width: 50px;
    animation: float 2s infinite;
}

.button-box{
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(90deg, #CC2B5E, #753A88);
    border-radius: 5px;
    font-weight: bold;
    transition: .3s;
    color: white;
}

.button-box:disabled{
    border: 1px solid #999999;
    background: #cccccc;
    color: #666666;
    transition: .3s;
}