<ion-content>
  <body>
    <app-nav-bar></app-nav-bar>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="showMessage()">
      <ion-fab-button class="edit-icon" [activated]="!editable"><ion-icon name="create-outline"></ion-icon></ion-fab-button>
      <ion-fab-list side="start"></ion-fab-list>
      </ion-fab>
    <div class="container">
      <ng-container>
      <div class="container__item-up">
        <div class="ion-text-center ion-padding-end">
          <h1>0</h1>
          <p class="disabled">Shopping centers visited</p>
        </div>
        <div class="ion-text-center ion-padding-start">
          <h1>0</h1>
          <p class="disabled">Reviews</p>
        </div>
      </div>
      <div class="container__item-down" *ngFor="let u of user">
        <div class="item-down__inline" style="margin-top: 2%;">
          <div class="caja-chica">
            <h5 class="letra ion-text-center">Name</h5>
          </div>
          <div style="margin-left: 13px; margin-right: 20px; font-weight: bold; font-size: 14px;"><ion-input class="lol" [disabled]="!pressed" [(ngModel)]="u.firstName" (ngModelChange)="inputChanges()"></ion-input><ion-input [disabled]="!pressed" [(ngModel)]="u.lastName" (ngModelChange)="inputChanges()"></ion-input></div>
        </div>
        <div class="item-down__inline">
          <div class="caja-chica">
            <h5 class="letra ion-text-center">Email</h5>
          </div>
          <span><b>{{u.email}}</b></span>
        </div>
        <div class="item-down__inline" style="margin-top: 14%;">
          <div class="caja-chica">
            <h5 class="letra ion-text-center">Password</h5>
          </div>
          <span>***************<br><div id="pass" (click)="goReset()">Change your password</div></span>
        </div>
        <div *ngIf="!disabled && pressed" style="margin: 20px auto; color: white;"><button class="button-box" (click)="changeUser(u)">Aplicar cambios</button></div>
      </div>
      </ng-container>
    </div>
  </body>
</ion-content>
