<div class="container">
  <div class="borde-r-back"><div class="borde-r"></div></div>
  <div class="borde-l-back"><div class="borde-l"></div></div>
  <div class="container-gap">
    <div class="container-footer">
      <div class="container-footer-gap">
        <div class="container-footer__item">
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
        <span>Femore</span>
      </div>
      <div class="container-footer-gap">
        <div class="container-footer__item segundo">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <span>support@femore.es</span>
      </div>
      <div class="container-footer-gap">
        <div class="container-footer__item">
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
        <span>@Femore</span>
      </div>
    </div>
  </div>
</div>