<div class="container">
  <div class="borde-r-back"><div class="borde-r"></div></div>
  <div class="borde-l-back"><div class="borde-l"></div></div>
  <div class="container-footer">
    <a class="link-box" href="https://www.instagram.com/femoreofficial/" target="_blank">
      <div class="item_box1">
      <div class="item-icon">
        <ion-icon name="logo-instagram"></ion-icon>
      </div>
      <span>Femore</span>
      </div>
    </a>

    <a class="link-box">
      <div class="item_box2">
      <div class="item-icon">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <span>support@femore.es</span>
      </div>
    </a>

    <a class="link-box" href="https://twitter.com/NoelMillan11" target="_blank">
      <div class="item_box3">
      <div class="item-icon">
        <ion-icon name="logo-twitter"></ion-icon>
      </div>
      <span>@Femore</span>
      </div>
    </a>
</div>