<ion-content>
  <body>
    <app-nav-bar></app-nav-bar>
    <div class="container">
      <div class="caja-mediana ion-text-center">
        <div class="caja-mediana__item">{{centerName}}</div>
      </div>
      <ion-slides class="ion-margin-top">
        <ion-slide>
          <ion-card mode="ios">
            <img src="../../../assets/images/map-center-1.png">
            <span class="text-map ion-margin-start">Plano superior&nbsp;<ion-icon name="caret-forward-outline"></ion-icon></span>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card mode="ios">
            <img src="../../../assets/images/map-center-2.png">
            <span class="text-map ion-margin-start">Plano inferior&nbsp;<ion-icon name="caret-forward-outline"></ion-icon></span>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card mode="ios">
            <img src="../../../assets/images/map-center-3.png">
            <span class="text-map ion-margin-start">Parking&nbsp;<ion-icon name="caret-forward-outline"></ion-icon></span>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="ion-text-center">
      <div style="display: inline-flex;">
        <ion-icon name="caret-back-outline" class="letra-sub"></ion-icon>
        <span class="letra-sub" (click)="goProfile()"><i>Go back</i></span>
      </div>
    </div>
    <app-footer-bar></app-footer-bar>
  </body>
</ion-content>
