body{
    background: #ECE9E6;
    color: black;
    height: 100%;
}
#map{
    position: fixed;
    width: 90%;
    min-width: 90%;
    height: 300px;
    min-height: 300px;
    margin-top: 43px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: #ff6060 0px 0px 0px 2px, rgb(255 24 227 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
}
.container{
    display: flex;
    justify-content: center;
}
.container__item-up{
    display: flex;
    justify-content: space-around;
}
.container__item-up p{
    font-size: 14px;
    color: #969696bd
}
.back-icon{
    position: fixed;
    top: 0;
    right: 0;
    margin: 23px;
    color: white;
    height: 50px;
    width: 50px;
    animation: float 2s infinite;
}
.caja-mediana{
    position: absolute;
    margin: -17px auto 0px auto;
    padding: 10px;
    right: 0;
    left: 0;
    width: fit-content;
    background: linear-gradient(90deg, #CC2B5E, #753A88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    z-index: 1;
}
.caja-mediana__item{
    font-size: 20px;
    color: white;
}
.text-map{
    color: black;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
}
.indicators{
    margin: 0px 10px 0px 10px;
}
ion-slides {
    margin: 20% auto 5% auto;
}

ion-card{
    width: 100%;
    height: 220px;
    --background: whitesmoke;
    transition: 1s;
    img {
        object-fit: cover;
        width: 100%;
        min-height: 140px;
        max-height: 140px;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
        margin: 40px auto 0px auto;
    }
}

.swiper-slide-active{
    transform: scale(1.05, 1.05);
    ion-card{
        img{
            transform: scale(1.07, 1.07);
        }
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.45) 0px -2px 10px -2px, rgba(236, 0, 140, 0.3) 0px 5px, rgba(236, 0, 140, 0.2) 0px 10px, rgba(236, 0, 140, 0.1) 0px 15px;
    }
}
.swiper-slide{
    transition: .7s all ease-in-out;
}
.box-back{
    display: inline-flex;
    position: relative;
    bottom: 7px;
}
.letra-sub{
    color: #F43379;
    font-size: 26px;
    margin-bottom: 4px;
    cursor: pointer;
}

// LOADING SPINNER

.spinner-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animation {
    0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
    }
    50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
    }
    100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
    }
}

#spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
}