<ion-content>
  <body>
    <app-nav-bar></app-nav-bar>
    <div class="caja-mediana ion-text-center">
      <div class="caja-mediana__item">
        <label>
          <input type="checkbox" [(ngModel)]="centerPressed">
          <div class="menu">{{locationPressed}}</div>
        </label>
      </div>
    </div>
    <div *ngIf="centerPressed" class="caja-mediana__secondary ion-text-center">
      <ion-segment scrollable mode="md">
        <ng-container *ngFor="let l of locations">
        <ion-segment-button (click)="locationPressed = l.name; locationChanged()">
          <div class="caja-mediana__item-secondary">
            <span>{{l.name}}</span>
            <div></div>
          </div>
        </ion-segment-button>
        </ng-container>
      </ion-segment>
    </div>
    <div *ngIf="!centerPressed && centersChanged !== null" class="container">
      <ion-slides [options]="option" class="ion-margin-top">
        <ion-slide class="center-slide" *ngFor="let c of centersChanged">
          <div class="container-slide">
            <ion-card mode="ios" (click)="goPlan(c.name)">
              <img style="pointer-events: none;" src="{{c.img}}">
              <p>{{c.name}}</p>
            </ion-card>

            <!-- Calificación de los centros -->
            <div>
              <span *ngIf="c.rate >= 1; else rate" class="center-rate" id="first-star"><ion-icon name="star"></ion-icon></span>
              <span *ngIf="c.rate >= 2; else rate" class="center-rate" id="second-star"><ion-icon name="star"></ion-icon></span>
              <span *ngIf="c.rate >= 3; else rate" class="center-rate" id="third-star"><ion-icon name="star"></ion-icon></span>
              <span *ngIf="c.rate >= 4; else rate" class="center-rate" id="fourth-star"><ion-icon name="star"></ion-icon></span>
              <span *ngIf="c.rate == 5; else rate" class="center-rate" id="fifth-star"><ion-icon name="star"></ion-icon></span>

              <span #rate *ngIf="c.rate < 5 && c.rate >= 4.5; else lastRate" class="center-rate" id="fourth-star"><ion-icon name="star-half-outline"></ion-icon></span>

              <span #lastRate *ngIf="c.rate < 4.5 && c.rate >= 4" #rate class="center-rate" id="fifth-star"><ion-icon name="star-outline"></ion-icon></span>

              <ng-container *ngIf="c.rate < 4 && c.rate >= 3.5; else lastRate">
                <span #rate class="center-rate" id="fourth-star"><ion-icon name="star-half-outline"></ion-icon></span>
                <span #rate class="center-rate" id="fourth-star"><ion-icon name="star-outline"></ion-icon></span>
              </ng-container>
              <span #lastRate *ngIf="c.rate < 3.5 && c.rate >= 3" #rate class="center-rate" id="fourth-star"><ion-icon name="star-outline"></ion-icon></span>
              <span #lastRate *ngIf="c.rate < 3.5 && c.rate >= 3" #rate class="center-rate" id="fifth-star"><ion-icon name="star-outline"></ion-icon></span>

              <ng-container *ngIf="c.rate < 3 && c.rate >= 2.5">
                <span #rate class="center-rate" id="third-star"><ion-icon name="star-half-outline"></ion-icon></span>
                <span #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
                <span #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
              </ng-container>
              <span #lastRate *ngIf="c.rate < 2.5 && c.rate >= 2" #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
              <span #lastRate *ngIf="c.rate < 2.5 && c.rate >= 2" #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
              <span #lastRate *ngIf="c.rate < 2.5 && c.rate >= 2" #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>

              <ng-container *ngIf="c.rate < 2 && c.rate >= 1.5" >
                <span #rate class="center-rate" id="second-star"><ion-icon name="star-half-outline"></ion-icon></span>
                <span #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                <span #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                <span #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
              </ng-container>
              <span #lastRate *ngIf="c.rate < 1.5 && c.rate >= 1" #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
              <span #lastRate *ngIf="c.rate < 1.5 && c.rate >= 1" #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
              <span #lastRate *ngIf="c.rate < 1.5 && c.rate >= 1" #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
              <span #lastRate *ngIf="c.rate < 1.5 && c.rate >= 1" #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
            </div>
            <div>
              <span class="rate-text"><b>{{c.rate}}</b> según reseñas de google</span>
              <br>
              <span class="info-button" (click)="showInfo(c)"><ion-icon name="information-circle-outline"></ion-icon></span>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
      <app-footer-bar></app-footer-bar>
      <ion-modal mode="ios" [isOpen]="openModal" [swipeToClose]="true" [presentingElement]="routerOutlet.nativeEl" (didDismiss)="openModal = false">
        <ng-template>
          <ion-content style="user-select: none;">
                <div class="ion-text-center details-title__box">
                  <h4><b>{{center.name}}</b></h4>
                  <div class="details-location__box">
                    <div class="bottom-line"></div>
                    <span id="location_text">{{center.location}}</span>
                    <div class="bottom-line"></div>
                  </div>
                  <div class="details-description__box">{{center.description}}</div>
                  <div class="details-gallery__box">
                    <h4>Galería</h4>
                    <ion-slides class="gallery-slides" pager="true" [options]="slideOpts">
                      <ion-slide *ngFor="let c of center.gallery">
                        <img src="{{c.img}}">
                      </ion-slide>
                    </ion-slides>
                  </div>
                  <div class="details-reviews__box">
                    <div class="details-reviews__titlebox">
                      <h4>Reseñas</h4>
                    </div>
                    <ion-slides [options]="slideOpts">
                      <ion-slide *ngFor="let c of center.reviews" class="reviews-slides">
                        <!-- REVIEWS -->
                        <div>
                          <span *ngIf="c.rate >= 1; else rate" class="center-rate" id="first-star"><ion-icon name="star"></ion-icon></span>
                          <span *ngIf="c.rate >= 2; else rate" class="center-rate" id="second-star"><ion-icon name="star"></ion-icon></span>
                          <span *ngIf="c.rate >= 3; else rate" class="center-rate" id="third-star"><ion-icon name="star"></ion-icon></span>
                          <span *ngIf="c.rate >= 4; else rate" class="center-rate" id="fourth-star"><ion-icon name="star"></ion-icon></span>
                          <span *ngIf="c.rate == 5; else rate" class="center-rate" id="fifth-star"><ion-icon name="star"></ion-icon></span>
            
                          <span #rate *ngIf="c.rate < 5 && c.rate >= 4.5; else lastRate" class="center-rate" id="fourth-star"><ion-icon name="star-half-outline"></ion-icon></span>
            
                          <span #lastRate *ngIf="c.rate < 4.5 && c.rate >= 4" #rate class="center-rate" id="fifth-star"><ion-icon name="star-outline"></ion-icon></span>
            
                          <ng-container *ngIf="c.rate < 4 && c.rate >= 3.5; else lastRate">
                            <span #rate class="center-rate" id="fourth-star"><ion-icon name="star-half-outline"></ion-icon></span>
                            <span #rate class="center-rate" id="fourth-star"><ion-icon name="star-outline"></ion-icon></span>
                          </ng-container>
                          <span #lastRate *ngIf="c.rate < 3.5 && c.rate >= 3" #rate class="center-rate" id="fourth-star"><ion-icon name="star-outline"></ion-icon></span>
                          <span #lastRate *ngIf="c.rate < 3.5 && c.rate >= 3" #rate class="center-rate" id="fifth-star"><ion-icon name="star-outline"></ion-icon></span>
            
                          <ng-container *ngIf="c.rate < 3 && c.rate >= 2.5">
                            <span #rate class="center-rate" id="third-star"><ion-icon name="star-half-outline"></ion-icon></span>
                            <span #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
                            <span #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
                          </ng-container>
                          <span #lastRate *ngIf="c.rate < 2.5 && c.rate >= 2" #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
                          <span #lastRate *ngIf="c.rate < 2.5 && c.rate >= 2" #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
                          <span #lastRate *ngIf="c.rate < 2.5 && c.rate >= 2" #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
            
                          <ng-container *ngIf="c.rate < 2 && c.rate >= 1.5" >
                            <span #rate class="center-rate" id="second-star"><ion-icon name="star-half-outline"></ion-icon></span>
                            <span #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                            <span #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                            <span #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                          </ng-container>
                          <span #lastRate *ngIf="c.rate < 1.5 && c.rate >= 1" #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                          <span #lastRate *ngIf="c.rate < 1.5 && c.rate >= 1" #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                          <span #lastRate *ngIf="c.rate < 1.5 && c.rate >= 1" #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                          <span #lastRate *ngIf="c.rate < 1.5 && c.rate >= 1" #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                        </div>
                        <p class="reviews-title">"{{c.review}}"</p>
                        <span class="reviews-name">{{c.firstName}} {{c.lastName}}</span>
                      </ion-slide>
                    </ion-slides>
                    <ion-button class="reviews-button"  (click)="openReviewModal=true;">Comparte tu reseña</ion-button>
                  </div>
                </div>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-modal mode="ios" class="review-modal" [isOpen]="openReviewModal && openModal" (didDismiss)="openReviewModal = false">
        <ng-template>
          <ion-content>
            <div class="review-container">
              <div class="review-container__box">
                <div class="icon-box">
                  <ion-icon (click)="openReviewModal=false" name="close-circle-outline"></ion-icon>
                </div>
                <div class="review-question__box">
                  <span>¿Qué te ha parecido este centro comercial?</span>
                  <div style="display: flex; align-items: center;">
                  <ion-input [(ngModel)]="review" placeholder="Escribe tu reseña aquí"></ion-input>
                  <ion-input placeholder="5.0" maxlength="3" [(ngModel)]="reviewRate" (ionChange)="strToNum()"></ion-input>
                  <ion-icon name="star"></ion-icon>
                  </div>
                  <ng-container *ngFor="let u of user"><ion-button (click)="addReview(u, review, reviewRateNumber, center.name, center.centerId)">CONFIRMAR</ion-button></ng-container>
                </div>
              </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
  </body>
</ion-content>