body{
    background-color: #ECE9E6;
    color: black;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}
.container__item-up{
    display: flex;
    justify-content: space-around;
}
.container__item-up p{
    font-size: 14px;
    color: #969696bd
}
.caja-mediana{
    position: relative;
    top: -15px;
    margin: auto;
    width: fit-content;
    background: linear-gradient(90deg, #CC2B5E, #753A88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    z-index: 100;
}
.caja-mediana__item{
    font-size: 20px;
    color: white;
}
.caja-mediana__secondary{
    position: absolute;
    margin: 170px auto;
    right: 0;
    left: 0;
    width: fit-content;
    background: linear-gradient(90deg, #CC2B5E, #753A88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    z-index: 100;
}
.caja-mediana__item-secondary{
    font-size: 18px;
    color: white;
    border-bottom: 1px solid white;
    padding: .5rem 5rem .5rem 5rem;
}
.caja-mediana__item-secondary:last-child{
    border: none;
}
.letra{
    margin: 0;
    color: #FF440A;
}
.container__item-down{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 280px;
}
.item-down__inline{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.item-down__inline p{
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
.letra-email{
    word-break: break-all;
}
.item-down__inline > span > p > div{
    font-size: 10px;
    color: #969696bd;
    cursor: pointer;
}
.footer__item{
    position: absolute;
    bottom: -5px;
    width: 100%;
    z-index: -1;
}
.container-footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.container-gap{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    bottom: 0;
}
.container-footer div:nth-child(2){
    align-self: flex-end;
}
.container-footer div:nth-child(3){
    align-self: center;
}
.container-footer__item{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px;
}
.container-footer-gap{
    display: inline-flex;
}
.container-footer-gap:nth-child(1){
    margin-top: 16px;
    margin-left: 15px;
}
.container-footer-gap:nth-child(2){
    margin-bottom: 12px;
}
.container-footer-gap:nth-child(3){
    margin-bottom: 13px;
}
.container-footer__item ion-icon{
    display: initial;
    color: #FF440A;
}
.container-footer-gap span{
    color: white;
    font-size: 12px;
    margin: 6px;
}
ion-fab-list ion-fab-button{
    transition: .5s;
    --background: linear-gradient(90deg, #FC6767, #EC008C);
    --background-activated: linear-gradient(90deg, #FC6767, #EC008C);
    --background-hover: linear-gradient(90deg, #FC6767, #EC008C);
    --close-icon-font-size: 30px;
    width: 65px;
    height: 65px;
}
ion-fab-list ion-fab-button:first-child{
    margin-top: 10px;
}
.nav-bar__list ion-fab ion-fab-button{
    --background: linear-gradient(45deg, #FC6767, #EC008C);
    --background-activated: linear-gradient(45deg, #FC6767, #EC008C);
    --background-hover: linear-gradient(45deg, #FC6767, #EC008C);
    --close-icon-font-size: 30px;
    --box-shadow: #00000054 4px 4px 5px;
    width: 65px;
    height: 65px;
}

ion-card{
    height: 200px;
    --background: linear-gradient(45deg, #EC008C, #FC6767);
    transition: 1s;
    img {
        object-fit: cover;
        width: 100%;
        min-height: 120px;
        max-height: 120px;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
    }
}
ion-card p{
    position: relative;
    color: white;
    font-size: 16px;
    padding: 0px 8px 0px 8px;
}

.center-rate{
    color: #f1b400;
    position: relative;
    padding: .1rem;
    opacity: 0;
    top: 20px;
    transition: .3s;
}
.rate-text{
    position: relative;
    opacity: 0;
    font-size: 15px;
    color: #969696bd;
    top: -15px;
    transition: .3s;
    transition-delay: .1s;
}

@keyframes float {
    0%{
        top: 8px;
    } 50%{
        top: 3px;
    }
    100%{
        top: 8px;
    }
}

.info-button{
    display: inline-flex;
    opacity: 0;
    color: #ff0084;
    font-size: 22px;
    margin-top: 3px;
    position: relative;
    top: 10px;
    animation: float 2s infinite;
    transition: .3s;
}

ion-content{
    --ion-background-color: #ECE9E6;;
}

.container-slide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.swiper-slide-active{
    transform: scale(1.05, 1.05);
    ion-card{
        img{
            transform: scale(1.07, 1.07);
        }
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.45) 0px -2px 10px -2px, rgba(236, 0, 140, 0.3) 0px 5px, rgba(236, 0, 140, 0.2) 0px 10px, rgba(236, 0, 140, 0.1) 0px 15px;
    }
    .center-rate{
        opacity: 1;
        top: 0px;
        transition: 1s;
    }
    .rate-text{
        opacity: 1;
        transition: .5s;
        transition-delay: .7s;
        top: 0px;
    }
    .info-button{
        top: 8px;
        opacity: 1;
        transition: .4s;
        transition-delay: 1s;
    }
    #second-star{
        transition-delay: .1s;
    }
    #third-star{
        transition-delay: .2s;
    }
    #fourth-star{
        transition-delay: .3s;
    }
    #fifth-star{
        transition-delay: .4s;
    }
}
.swiper-slide{
    transition: .7s all ease-in-out;
}
label {
  .menu {
    right: -100px;
    top: -100px;
    z-index: 100;
    color: white;
    width: fit-content;
    height: fit-content;
    background: transparent;
    border-radius: 5px;
    padding: .5rem;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  input {
    display: none;
  }
  input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #EC008C;
    padding: 2rem;
    z-index: 100;
  }
}
ion-segment{
    width: 265px;
    height: 70px;
}
ion-segment-button{
    --color-checked: none;
}
.center-slide{
    height: 350px;
}

// DETAILS CENTER PAGE

.details-title__box{
    color: black;
    width: 100%;
    margin-bottom: 20px;
    h4{
        color: #dc0046;
    }
}
.details-location__box{
    display: flex;
    #location_text{
        position: relative;
        top: 8px;
        color: black;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.bottom-line{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.655);
}
.details-description__box{
    color: #838C90;
    width: 80%;
    margin: 40px auto 20px auto;
}
.details-gallery__box{
    margin-bottom: 35px;
    .gallery-slides{
        width: 90%;
        border-radius: 5px;
        height: 200px;
        box-shadow: #ff6060 0px 0px 0px 2px, rgb(255 24 227 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

@keyframes floatReview {
    0%{
        top: -37px;
    } 50%{
        top: -42px;
    }
    100%{
        top: -37px;
    }
}
.details-reviews__box{
    width: 90%;
    text-align: center;
    margin: 20px auto;
    .details-reviews__titlebox{
        margin-bottom: 15px;
    }
    .reviews-button{
        --background: linear-gradient(45deg, #EC008C, #FC6767);
    }
    .reviews-slides{
        transform: scale(1, 1);
        flex-direction: column;
        margin-bottom: 20px;
        .reviews-title{
            font-size: 17px;
            margin: 12px;
        }
        .reviews-name{
            color: #838C90;
            font-size: 15px;
        }
    }
}
@keyframes floatCancel {
    0%{
        top: 3px;
    } 50%{
        top: 8px;
    }
    100%{
        top: 3px;
    }
}
.review-modal{
    height: 50%;
    top: 50%;
    position: fixed;
    border-radius: 20px 20px 0px 0px;
    --backdrop-opacity: 0;
    ion-content{
        --ion-background-color: linear-gradient(45deg, #EC008C, #FC6767);
        color: white;
        .review-container{
            width: 90%;
            height: 90%;
            margin: auto;
            text-align: center;
            background: white;
            color: black;
            border-radius: 13px;
            .review-container__box{
                width: 100%;
                height: 100%;
                margin-top: 15px;
                .icon-box{
                    display: flex;
                    justify-content: center;
                    position: relative;
                    animation: floatCancel 2s infinite;
                    ion-icon{
                        font-size: 32px;
                    }
                }
                .review-question__box{
                    margin-top: 15px;
                    span{
                        font-weight: 600;
                        color: #cc2b5e;
                    }
                    ion-input{
                        border-bottom: 2px solid #cc2b5e;
                        width: 80%;
                        margin: 10px 10px auto 10px;
                    }
                    ion-input:first-child{
                        flex-grow: 4;
                    }
                    ion-icon{
                        color: #f1b400;
                        font-size: 24px;
                        position: relative;
                        top: 5px;
                        margin-right: 10px;
                    }
                    .question-button{
                        --background: linear-gradient(45deg, #EC008C, #FC6767);
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}