<ion-content>
  <body>
    <app-nav-bar></app-nav-bar>
    <div class="caja-mediana ion-text-center">
      <div class="caja-mediana__item">
        <label>
          <input type="checkbox" [(ngModel)]="centerPressed">
          <div class="menu">{{locationPressed}}</div>
        </label>
      </div>
    </div>
    <div *ngIf="centerPressed" class="caja-mediana__secondary ion-text-center">
      <ion-segment scrollable mode="md">
        <ng-container *ngFor="let l of locations">
        <ion-segment-button (click)="locationPressed = l.name; locationChanged()">
          <div class="caja-mediana__item-secondary">
            <span>{{l.name}}</span>
            <div></div>
          </div>
        </ion-segment-button>
        </ng-container>
      </ion-segment>
    </div>
    <div *ngIf="!centerPressed" class="container">
      <ion-slides [options]="option" class="ion-margin-top">
        <ion-slide *ngFor="let c of centersChanged">
          <div class="container-slide">
            <ion-card mode="ios" (click)="goPlan(c.name)">
              <img src="{{c.img}}">
              <p>{{c.name}}</p>
            </ion-card>

            <!-- Calificación de los centros -->
            <div>
              <span *ngIf="c.rate >= 1; else rate" class="center-rate" id="first-star"><ion-icon name="star"></ion-icon></span>
              <span *ngIf="c.rate >= 2; else rate" class="center-rate" id="second-star"><ion-icon name="star"></ion-icon></span>
              <span *ngIf="c.rate >= 3; else rate" class="center-rate" id="third-star"><ion-icon name="star"></ion-icon></span>
              <span *ngIf="c.rate >= 4; else rate" class="center-rate" id="fourth-star"><ion-icon name="star"></ion-icon></span>
              <span *ngIf="c.rate == 5; else rate" class="center-rate" id="fifth-star"><ion-icon name="star"></ion-icon></span>

              <span #rate *ngIf="c.rate < 5 && c.rate >= 4.5; else lastRate" class="center-rate" id="fourth-star"><ion-icon name="star-half-outline"></ion-icon></span>

              <span #lastRate *ngIf="c.rate < 4.5 && c.rate >= 4" #rate class="center-rate" id="fifth-star"><ion-icon name="star-outline"></ion-icon></span>

              <ng-container *ngIf="c.rate < 4 && c.rate >= 3.5; else lastRate">
                <span #rate class="center-rate" id="fourth-star"><ion-icon name="star-half-outline"></ion-icon></span>
                <span #rate class="center-rate" id="fourth-star"><ion-icon name="star-outline"></ion-icon></span>
              </ng-container>
              <span #lastRate *ngIf="c.rate < 3.5 && c.rate >= 3" #rate class="center-rate" id="fourth-star"><ion-icon name="star-outline"></ion-icon></span>
              <span #lastRate *ngIf="c.rate < 3.5 && c.rate >= 3" #rate class="center-rate" id="fifth-star"><ion-icon name="star-outline"></ion-icon></span>

              <ng-container *ngIf="c.rate < 3 && c.rate >= 2.5">
                <span #rate class="center-rate" id="third-star"><ion-icon name="star-half-outline"></ion-icon></span>
                <span #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
                <span #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>
              </ng-container>
              <span #lastRate *ngIf="c.rate < 2.5 && c.rate >= 2" #rate class="center-rate" id="third-star"><ion-icon name="star-outline"></ion-icon></span>

              <ng-container *ngIf="c.rate < 2 && c.rate >= 1.5" >
                <span #rate class="center-rate" id="second-star"><ion-icon name="star-half-outline"></ion-icon></span>
                <span #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                <span #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
                <span #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
              </ng-container>
              <span #lastRate *ngIf="c.rate < 1.5 && c.rate >= 1" #rate class="center-rate" id="second-star"><ion-icon name="star-outline"></ion-icon></span>
            </div>
            <div>
              <span class="rate-text"><b>{{c.rate}}</b> según reseñas de google</span>
              <br>
              <span class="info-button" (click)="showInfo(c)"><ion-icon name="information-circle-outline"></ion-icon></span>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
      <!-- Rectángulo con vectores -->
      <!-- <div class="footer__item"><img src="../../../assets/svg/barra-footer.svg"></div>
      <div class="container-gap">
        <div class="container-footer">
          <div class="container-footer-gap">
            <div class="container-footer__item">
              <ion-icon name="man"></ion-icon>
            </div>
            <span>Male</span>
          </div>
          <div class="container-footer-gap">
            <div class="container-footer__item segundo">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>
            <span>10/07/21</span>
          </div>
          <div class="container-footer-gap">
            <div class="container-footer__item">
              <ion-icon name="call"></ion-icon>
            </div>
            <span>722651529</span>
          </div>
        </div>
      </div> -->
      <app-footer-bar></app-footer-bar>
      <ion-modal mode="ios" [isOpen]="openModal" [swipeToClose]="true" [presentingElement]="routerOutlet.nativeEl" (didDismiss)="openModal = false">
        <ng-template>
          <ion-content>
            <div class="ion-text-center">
              <h4 style="color: black;"><b>{{center.name}}</b></h4>
              <div style="display: flex;">
                <div style="width: 100%; border-bottom: 1px solid rgba(128, 128, 128, 0.655);"></div>
                <span style="position: relative; top: 8px; color: black; padding-left: 5px; padding-right: 5px;">{{center.location}}</span>
                <div style="width: 100%; border-bottom: 1px solid rgba(128, 128, 128, 0.655);"></div>
              </div>
              <div style="color: #838C90; width: 80%; margin: 40px auto;">{{center.description}}</div>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
  </body>
</ion-content>